html {
   font-family: 'MedievalSharpBookOblique';
   font-weight: normal;
   background-image:url(img/fond_bois.jpg);

   
}

.none
{
	position: absolute;
	display: none; 
}

a
{
	color: black;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}


h1
 {
 	margin-top: 0em;
 	text-align: center;
 	padding: 25px;
 	
 }

h2
{
	font-size: 1.8em;
}

header
{
	border-bottom-style: ridge;
	border-radius: 1em;
	height: 7em;
	background-color: rgb(79,79,79);

}

header img
 {
 
 	float :left;

 	
 }

.recherche button
{
	background-color: white;
	border-style: ridge;
	box-shadow: 2px 1px 1px
}

.recherche span
{
	position: absolute;
	top : 17.5%;
	right :2.5%;

}

form
{
	text-align: center;
	width: 32%;
	height: 3em;
	margin-left: 36.5%;
	background:rgb(79,79,79);
	margin-top: 1em;
	margin-bottom: -1.2em;
	border-style: ridge;
	border-radius: 1em;
}

input
{
	height: 50%;
	width: 40%;
}

select
{
	height: 50%;
}

ul
 {
 	display: block;
 	text-align: center;
 	
 	background-color: rgb(79,79,79);
 	margin-top: 1em;
 	border-style:ridge;
 	border-radius: 1em;

 }

section ul li
 {
display: inline-block;
padding-top: 10px;
font-size: 1.4em;
width: 24%;
height: 30%;
}

#image
{
	padding-bottom: 4%;
}

.grid img
{
	border-style: ridge;
	border-width: 0.7em;
	width:  43.5%;
	box-shadow: 6px 6px 2px black;

}
.grid p  
{
	color : pink;
	margin-top: 0em;
	width: 70%;
	height: 35%;

}
.grid a 
{
	color : white;

}


.grid p span
{
	text-decoration-line: line-through;
	color: red;
}

.grid
{

	margin-top: 3%;
	margin-left:3%;
	width: 100%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 1fr 1fr;
	border-radius: 1em;

}

.ite1
{
grid-area : 1 / 1 / 2 / 3;

}

.ite2
{
grid-area : 2 / 1 / 2 / 2;
padding-top: 8%;
margin-left: : 8%;


}

.ite3
{
grid-area : 1 / 2 / 2 / 3;

}

.ite4
{
grid-area : 2 / 2 / 3 / 3;
padding-top: 8%;
margin-left: : 8%;

}

.ite5
{
grid-area : 1 / 3 / 2 /4 ;

}

.ite6
{
grid-area : 2 / 3 / 3 / 4;
padding-top: 8%;
margin-left: : 8%;
}


	
.test
{
	
	margin-left: 2em;
	width: 75%;
	height: 25em;
	display: grid;
	margin-top: 3em;
	border-radius: 1em;
	border-style: ridge;
	border-color: white;
}

.test h2
{
	margin-top: -2%;
	margin-left: 5.8%;
	width: 15%;
	color :white;
	font-size: 190%;
	
	background-image:url(img/fond_bois.jpg);
}

.UL1
 {
 	display: block;
 	text-align: center;
 	margin-top: 2em;
 	margin-bottom: -1em;
 	border-bottom-style: ridge;
 	background-color: rgb(79,79,79);
 }

.UL1 li
 {

display: inline-block;
padding-top: 10px;
font-size: 0.8em;
width: 24%;
height: 10px;
}

#test2
{
	float: right;
	width: 20%;
	border-style: ridge;
	border-color: white;
	border-radius: 1em;
	height: 57.5%;
	position: fixed;
	top : 36.5%;
	left : 78%;
	
}

#test2 h2
{
	margin-top: -8%;
	margin-left: 35.7%;
	width: 60%;
	text-align: center;
	color :white;
	
	background-image:url(img/fond_bois.jpg);
}

#test2 img
 {
 	margin-left: 5%;
 	padding:2.1%;
 	height: 22%;
 	width: 33%;
 	border-style: ridge;
 	border-width: 0.3em;
 	box-shadow: 6px 6px 2px black;
 }

#test2 p
 {
 	float :right; 
 	width :40%;
 	padding-top: 4%;
 	padding-right: 5%;
 	color: white;
 }

 #test2 a:hover
 {
 	text-decoration: underline;
 }

 #test2 a
 {
 	color: white;
 	text-decoration: none;
 }

