.img
{
	border-style: solid;
	width: 40%;
	height: 25em;
	overflow: auto;
}


/*pour le saut de page, on cree une class que l'on met en display:none*/
.target{

display: none

}


/* englobe le slider */

.cadre_diapo{

width: 100%
height: 23em;


	
	}

.interieur_diapo{

display: flex;
width: 250%;
	
	}

.descript{

position: relative;

}


	
	
#id1:target ~ .cadre_diapo .interieur_diapo{

transform:translatex(0)

}/*image 1*/

#id2:target ~ .cadre_diapo .interieur_diapo{

transform:translatex(-25%)

}/*image 2*/

#id3:target ~ .cadre_diapo .interieur_diapo{

transform:translatex(-50%)

}/*image 3*/






/*navigation avec images miniatures*/
.navigation_diapo{
	
display: flex; /*permet d'aligner les photos les unes à la suite des autres, on peut aussi utiliser le positionnement absolu*/
list-style-type: none;
margin: 0;
padding: 0;
	
	}

.navigation_diapo li 
{
	
	padding: .25rem;
	
}



	
	}
	
	
	@media (min-width:31.25rem){
		
		.descrip span{
			
			font-size: initial
		
		}
	
	}
	
.description
{
	display: flex;
	width: 30%;
	height: 23em;
	overflow: auto;
}